body{
  margin: 0;
  font-family:sans-serif;
}
.bigwidth{
  width: 880px;
  margin:0 auto 0 auto;
}
.header a{
  text-decoration: none;
  color:azure;
}
a{
  text-decoration: none;
  color:gray;
}
a:hover{
  color: rgb(43, 66, 22);
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: bold;
  color:indianred;
}
.header{
  background-color: rgb(39, 40, 45);
  height: 170px;
  border-bottom: 5px solid rgb(25, 101, 16);
}

.header .bigwidth{
  padding-top: 35px;
}
.header a#title{
  font-size: 38px;
  color: rgb(246, 246, 237);
  display: block;
  padding-bottom: 10px;
  letter-spacing: 4px;
}
.header a#title:hover{
  transform: translateX(200px);
  transition: 2s;
}
.header #zard{
  color: rgb(255, 220, 15);
}

.header span#note{
  font-size: 15px;
  color: rgb(185, 185, 186);
  letter-spacing: 2px;
}
.header span#note:hover{
  text-shadow: 1px 0px rgb(173, 180, 154);

}
.header ul{
  list-style: none;
  font-size: 18px;
  margin-left: 150px;
}
.header ul li a{
  display: inline;
  float: left;
  background-color:rgb(95, 98, 97);
  padding: 7px 20px 7px 20px;
  border-radius: 7px 7px 1px 1px;
  margin-right: 5px;
  margin-top: 9px;
  letter-spacing: 1px;
  color:azure;
}
#first{
  background-color:rgb(123, 189, 112);
}

.header ul li a:hover{
  background-color: rgb(123, 189, 112);
  font-weight: bold;
  font-size: 18px;
}
.header ul li a:active{
  background-color: rgb(79, 38, 42);
}
.main{
  margin-bottom: 550px;
}
.bigwidth #tree{
  max-width: 100%;
  height: auto;
  border: 10px solid rgb(172, 176, 175);
  margin-top: 20px;
  margin-bottom: 20px;
}
.bigwidth #tree:hover{
  transform: translate(100px,10px);
  transition: 2S;
  box-shadow:
  0 5px 10px 2px rgb(109, 153, 128),
  0 0px 10px 2px rgb(79, 131, 116),
  0 5px 10px 2px rgb(116, 162, 144),
  0 0px 10px 2px rgb(58, 111, 93);

}
.bigwidth #right-col{
  position: absolute;
  margin-left: 10px;
  width: 600px;
  height: 400px;
  font-size: 14px;
  line-height: 22px;
  color: rgb(52, 53, 54);
  text-indent: 15px;
  word-break: keep-all;
  word-wrap: break-word;
  white-space: normal;
  text-align:justify;
}
.bigwidth #left-col{
  position: absolute;
  margin-left: 10px;
  width: 250px;
  height: 400px;
  margin-left: 650px;
  font-size: 14px;
  line-height: 22px;
  color: rgb(52, 53, 54);
  word-break: keep-all;
  word-wrap: break-word;
  white-space: normal;
  text-align:justify;
}
.bigwidth #left-col h3{
  color: darkcyan;
}
.bigwidth #part1 p{
  text-indent: 10px;
}
.bigwidth #part1{
  border: 2px solid rgb(214, 214, 214);
  padding: 5px 10px;
  border-radius: 20px;
  margin-bottom: 15px;
  text-indent:2px;
}

.bigwidth #part2{
  border: 2px solid rgb(214, 214, 214);
  padding: 5px 10px;
  border-radius: 20px;
  margin-bottom: 15px;
  text-indent:2px;
}
.footer .bigwidth{
  width: 880px;
  margin:0 auto 0 auto;
}
.footer{
  position: absolute;
  display: inline;
  width: 100%;
  height:360px;
  background-color:rgb(14, 44, 56);
}

.footer .login-box{
  box-sizing:border-box;
  position:relative;
  width: 350px;
  height: 300px;
  background-color:rgb(17, 19, 19);
  top: 30px;
  text-align:center;
  padding: 15px 20px;
  letter-spacing: 2px;
  color: aliceblue;
  border-radius: 25px;

}
.footer .login-box h2{
  letter-spacing: 5px;
  font-size: 30px;
}

.footer .user-box input{
  position:relative;
  width: 250px;
  font-size: 17px;
  letter-spacing: 2px;
  color:rgb(28, 236, 213);
  padding:10px 0;
  background-color:rgb(23, 26, 25);
  border: 0px solid #000;
  border-bottom: 1px solid white;
  border-bottom-width:thin;
  margin-bottom: 15px;
  display: inline;
}
.login-box .submit{
  position:relative;
  display:block;
  width:100px;
  padding: 15px 25px;
  font-size: 22px;
  line-height: 15px;
  color:rgb(28, 236, 213);
  top:20px;
  left: 70px;
}
.bigwidth .submit:hover{
  text-shadow: -2px 0 ;
  box-shadow:
  0 0 15px rgb(22, 206, 209),
  0px 0px 0px rgb(144, 179, 180),
  0 0 35px rgb(30, 86, 87);
  border-radius:20px;
}

.bigwidth .social-media{
  width: 880px;
  margin:0 auto 0 auto;
}
.social-media{
  display:inline;
  position:absolute;
}
.social-media ul{
  list-style: none;
  font-size: 18px;
  margin-left: 350px;
  margin-top:-260px;
  text-align: left;
}
.social-media ul li{
    float: left;
    margin-top:70px;
}
.social-media ul li p{
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 10px;
  font-weight: bold;
  margin-left:50px;
  margin-right:20px;
}
.social-media ul li img{
  display:inline;
  position:absolute;
  width:45px;
  height:45px;
  margin-top:-40px;
}
.social-media a{
  color: rgb(222, 231, 237);
}

.social-media ul li img:hover{
  transform: rotate(360deg);
  transition: 1s;
}
.social-media ul li p:hover{
  color:rgb(113, 177, 99);
  text-shadow: 2px 5px rgb(42, 52, 40);
  transform: translate(10px,10px);
  transition: 2s;
}
